<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title White2

    //- scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js')
    script(src='/assets/lightslider-master/dist/js/lightslider.js')
    script(src='/js/clusterer.js')
    script(src='/js/white2.js')

    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
    link(rel='stylesheet', href='/assets/lightslider-master/dist/css/lightslider.css')
    link(rel='stylesheet', href='/css/white2.css')
