include ./includes/header.pug
body.index-page
  include ./includes/masthead.pug

  .list-container
    .filters
      .date.form-inline
        input.form-control.form-calendar.mr-3(type='text', placeholder='체크인', style='width: 244px')
        input.form-control.form-calendar.mr-3(type='text', placeholder='체크아웃', style='width: 244px')
        select.custom-select
            option 1명
            option(selected) 2명
            option 3명
            option 4명
            option 5명
            option 6명
            option 7명
            option 8명
            option 9명
            option 10명
            option 11명
            option 12명
            option 13명
            option 14명
            option 15명
            option 16명
      .form-inline
        input.form-control.mr-3(type='text', placeholder='모든지역', style='width: 244px', data-toggle='dropdown')
        .dropdown-menu
          a.dropdown-item(href='#') 제주도
          a.dropdown-item(href='#') 제주도 서귀포시
          a.dropdown-item(href='#') 제주도 제주시
        select.custom-select.mr-3(style='width: 244px')
          option 모든 가격대
          option 5만원 이하
          option 5만원 - 10만원
          option 10만원 - 20만원
          option 20만원 - 30만원
          option 30만원 이상
        .btn-group
          button.btn.btn-outline-light.dropdown-toggle(type='button', data-toggle='dropdown')
            | 태그로 필터하기
          .dropdown-menu.dropdown-menu-small
            a.dropdown-item(href='#') 가족
            a.dropdown-item(href='#') 고급/럭셔리
            a.dropdown-item(href='#') 단체/MT/워크샵
            a.dropdown-item(href='#') 커플
            a.dropdown-item(href='#') 풀빌라
            a.dropdown-item(href='#') 한옥
            a.dropdown-item(href='#') 애견펜션
            a.dropdown-item(href='#') 키즈펜션
            .dropdown-divider
            a.dropdown-item(href='#') 바베큐장
            a.dropdown-item(href='#') 수영장
            a.dropdown-item(href='#') 조식 서비스
            .dropdown-divider
            a.dropdown-item(href='#') 계곡 주변
            a.dropdown-item(href='#') 골프장 주변
            a.dropdown-item(href='#') 수목원/휴양림 주변
            a.dropdown-item(href='#') 스키장 주변
            a.dropdown-item(href='#') 해수욕장 주변
            a.dropdown-item(href='#') 강/호수 주변
      .tags
        button.btn.btn-outline-light(type='button')
          | 계곡 주변
          i.fa.fa-times.ml-2
        button.btn.btn-outline-light(type='button')
          | 고급/럭셔리
          i.fa.fa-times.ml-2

    //- Loader
    .loader-wrapper
      .loader

    .list-box
      .row
        .col-md-6 36 검색결과
        .col-md-6.text-right.tag-info
          button.btn.btn-link.btn-sm(type='button') Reset
          | "계곡 주변", "고급/럭셔리" 태그됨
      .row
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-01.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 제주 파크사이드 호텔
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-02.png")')
              a.favorite(href='#')
                i.fa.fa-heart
            .card-body
              .card-title 리버사이드 호텔
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-03.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 파인트리 리조트
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-04.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 그린메도우
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-05.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 스윗소로우
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-06.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 사이공 팩토리
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-01.png")')
              a.favorite(href='#')
                i.fa.fa-heart-o
            .card-body
              .card-title 제주 파크사이드 호텔
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
        .col-md-6.unit
          .card(onclick='location.href="/view"')
            .card-img-top(style='background-image: url("/images/temp-hotel-02.png")')
              a.favorite(href='#')
                i.fa.fa-heart
            .card-body
              .card-title 리버사이드 호텔
              .card-text
                | 제주도 서귀포시 위미리
                br
                | 120,000원 - 240,000원
      .text-center.mt-5
        button.btn.btn-light.btn-padding(type='button')
          | 리스트 더보기
          i.fa.fa-angle-down.ml-2

  .map-container
    #map(style='height: 100%')
      script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYAR9ha33tDQfl81KCVoePD_w3KcAaWGo&callback=initMap')